.vs/ConsoleCsharpTest.slnx/FileContentIndex/b2df9fa6-15c7-4dd2-8ad0-7ef5f65b862e.vsidx
.vs/ConsoleCsharpTest.slnx/FileContentIndex/e4e4839e-5b35-4f67-a1e5-4f2237976f82.vsidx
.vs/ConsoleCsharpTest.slnx/v18/.suo
.vs/ConsoleCsharpTest.slnx/v18/DocumentLayout.json
ConsoleCsharpTest.slnx
ConsoleCsharpTest/ConsoleCsharpTest.csproj
ConsoleCsharpTest/obj/ConsoleCsharpTest.csproj.nuget.dgspec.json
ConsoleCsharpTest/obj/ConsoleCsharpTest.csproj.nuget.g.props
ConsoleCsharpTest/obj/ConsoleCsharpTest.csproj.nuget.g.targets
ConsoleCsharpTest/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ConsoleCsharpTest/obj/Debug/net10.0/ConsoleCsharpTest.AssemblyInfo.cs
ConsoleCsharpTest/obj/Debug/net10.0/ConsoleCsharpTest.AssemblyInfoInputs.cache
ConsoleCsharpTest/obj/Debug/net10.0/ConsoleCsharpTest.assets.cache
ConsoleCsharpTest/obj/Debug/net10.0/ConsoleCsharpTest.GeneratedMSBuildEditorConfig.editorconfig
ConsoleCsharpTest/obj/Debug/net10.0/ConsoleCsharpTest.GlobalUsings.g.cs
ConsoleCsharpTest/obj/project.assets.json
ConsoleCsharpTest/obj/project.nuget.cache
